# Dependencies
node_modules
.pnpm-debug.log*

# Build
dist

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System
.DS_Store

# Cache
.stylelintcache

pnpm-lock.yaml
yarn.lock

yarn-error.log
package-lock.json
